<h1><%= @recipe.name %></h1>

<p>Description: <%= @recipe.description %></p>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Is vegan: <%= @recipe.is_vegan %></p>
